.tabs-bg{
  display: flex;
  width: 100%;
  background: #f2f2f4;
  border-radius: 50px;
  padding: 6px;
  gap: 8px;
}

.tab-btn {
  flex: 1;
  padding: 16px 0;
  border: none;
  background: transparent;
  border-radius: 40px;

  font-size: 18px;
  font-weight: 500;
  color: #2b2b2b;

  cursor: pointer;
  transition: 0.25s;
}

.tab-btn.active {
  background: #1f1f22;
  color: white;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}