/* src/index.css */
:root {
  --alfa-red: #ef3124;
  --alfa-black: #000000;
  --alfa-gray: #6b6b6b;
  --alfa-light: #f5f5f5;
  --card-bg: #ffffff;

  font-family: Inter, system-ui, sans-serif;
  color: var(--alfa-black);
  background: var(--card-bg);
}

body {
  margin: 0;
}

/* Layout */
.page {
  min-height: 100vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 32px;
  font-weight: 600;
  margin-top: -32px;
  margin-left: 55px;
}

/* Columns */
.layout {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1.9fr;
  gap: 24px;
}

/* Card */
.card {
  background: var(--card-bg);
  border: 1px solid #bebebe;
  border-radius: 30px;
  padding: 24px;
}

.card h2 {
  margin: -10px 200px 20px 0;
  font-size: 18px;
  font-weight: 550;
}

/* Inputs */
select {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #E1E1E6;
  border-radius: 30px;
  background: #fff;
  color: #000;
  appearance: none;  
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 32 32' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M2 8 L16 22 L30 8' /></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 15px;
  cursor: pointer;
}

/* Income */
.income-value {
  font-size: 36px;
  font-weight: 700;
  margin: 12px 0;
}

/* SHAP bars */
.shap-row {
  display: grid;
  grid-template-columns: 1.3fr 2fr 0.7fr;
  gap: 8px;
  align-items: center;
}

.shap-bar-container {
  background: #e5e5e5;
  height: 12px;
  border-radius: 8px;
  overflow: hidden;
}

.shap-bar {
  height: 100%;
}

.shap-pos {
  background: #2ecc71;
}

.shap-neg {
  background: var(--alfa-red);
}

.shap-impact {
  font-weight: 600;
}

/* Recommendations */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

.product-card {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 16px;
  background: #fff;
}

.product-card h3 {
  margin: 0 0 6px;
  font-size: 18px;
  font-weight: 700;
}

.product-card p {
  margin: 4px 0;
}

/* Footer */
.footer {
  text-align: center;
  padding-top: 8px;
}

.muted {
  color: var(--alfa-gray);
  font-size: 14px;
}

.corner-img {
  position: fixed;
  top: 7px; 
  right: 1260px;
  width: 90px; 
  opacity: 1; 
  z-index: 999;  
  pointer-events: none; 
}